body{
	background-color: #F5F5F5;
  	font-family : Sans-Serif, Arial;
  	font-size : 16px;
}

.contenedor{
	display : block;
	margin : 20px auto;
	width: 75%;
	background-color: #E3F2FD;
}
.contenedor h2 {
	background-color: #2196F3;
	padding: 7px;
	color: #FFFFFF;
	margin:0;
	text-align: center;
	font-size: 1.3em;
    font-weight: lighter;
}
.contenedor-pre{
	display: flex;
	justify-content: space-around;
}

.contenedor-pre pre {
	width: 45%;                          
	white-space: pre-wrap;                 
	word-wrap: break-word;
	background-color: rgba(251, 251, 251, 0.95);
	font-size: 14px;
	padding: 10px;
	font-family: monospace;                 
}

.contenedor pre:hover {
	position: relative;
	z-index: 99;
}